/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@font-face {
  font-family: "Nautilus";
  src: url("./assets/Nautilus.otf");
}

body {
  background: url("./assets/bkg.png");
  /* background-size: cover; */
  font-family: "Nautilus";
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banitza {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banitza-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.banitza-anim {
  animation: spin 2.5s ease-out 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }
}

.piece {
  cursor: pointer;
  background-color: yellow;
  padding: 5px
}

.mask {
  padding: 5rem;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.3);
  top: 12rem;
}

.luck {
  width: 375px;
  height: 225.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: url("./assets/papyrus.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lucks {
  width: 100%;
  padding: 1rem;
}

.strong {
  padding-inline: 2rem;
  font-size: x-large;
}

.close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.close-grandpa {
  position: absolute;
  top: 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.close-grandpa span,
.close span {
  font-family: 'Courier New';
  margin: 0.2rem
}

.close-congrats {
  position: absolute;
  top: 45%;
  right: 45%;
  cursor: pointer;
}

.email-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  gap: 0.5rem;
  text-align: center;
}

.email-input input {
  width: 7rem !important;
  padding: 8px 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  outline: none;
  width: fit-content;
}

.email-suffix {
  padding: 8px 10px;
  background: #eee;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 6px 6px 0;
  font-size: 1.2rem;
  color: #555;
  cursor: pointer;
}

.email-suffix:hover {
  background: #fff;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header span {
  padding-inline: 2rem;
  font-size: x-large;
  text-align: center;
}

.congrats {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.close-email {
  background-color: white;
  padding: .3rem;
  border-radius: 3px;
}

.full {
  width: 100%;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}